.newsItem {
    width: 500px;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 15px 0.5px #ccc;
    -moz-box-shadow: 2px 2px 15px 0.5px #ccc;
    box-shadow: 2px 2px 15px 0.5px #ccc;
}
.newsItemLink {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14;
}
.newsItemTitle {
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px 0 0;
}
.newsItemSubtitle {
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (max-width: 1080px) {
    .newsItem {
        width: 355px;
    }
    .newsItemTitle {
        font-size: 16px;
    }
    .newsItemSubtitle {
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {
    .newsItem {
        width: 320px;
    }
}
@media screen and (max-width: 320px) {
    .newsItem {
        width: 265px;
    }
}