.reg-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
}

.reg {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  width: 95%;
  height: 95vh;
  border: 1px solid #C4C4C4;
  border-radius: 30px;
}

.reg-form {
  width: 63%;
  height: 95%;
}

.reg-form_title {
  font-size: 40px;
}

.reg-form_subtitle {
  font-size: 25px;
  font-weight: 400;
}

.password {
  margin-bottom: 15px;
}

.button-reg {
  width: 240px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: #E66A08;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  transition: .5s;
  margin-left: 337px;
  font-family: Montserrat;
}

.button-reg:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .reg-form {
    width: 500px;
  } 
  .button-reg {
    width: 315px;
    height: 35px;
    margin-left: 0;
  }

  .reg-form_title {
    font-size: 30px;
  }

  .reg-form_subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {

  .button-reg {
    width: 315px;
    height: 35px;
    margin-left: 0;
  }

  .reg-form_title {
    font-size: 30px;
  }

  .reg-form_subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .button-reg {
    width: 277px;
    height: 30px;
  }
  .reg-form_title {
    font-size: 28px;
  }
  .reg-form_subtitle {
    font-size: 14px;
  }
}