.news-wrapper {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0 50px 30px;
}
.news-title {
    margin-left: 30px;
}
.news-block {
    display: block;
}
.newsBlockItems {
    display: flex;
}
@media screen and (max-width: 375px) {
    .news-wrapper {
        margin-left: 5px;
    }
    .news-title {
        font-size: 18px;
    }
    .news-block {
        /* width: 237px;
        height: 113px; */
    }
}
@media screen and (max-width: 1080px) {
    .news-wrapper {
        margin-left: 5px;
    }
    .news-title {
        font-size: 18px;
    }
    .news-block {
        /* width: 237px;
        height: 113px;
        border-radius: 15px; */
    }
}