.news-wrapper {
    margin-left: 30px;
    margin-bottom: 50px;
}
.news-title {
    margin-left: 30px;
}
.news-block {
    text-align: center;
    width: 537px;
    height: 213px;
    border: 1px solid #c4c4c4;
    border-radius: 40px;
}
@media screen and (max-width: 375px) {
    .news-wrapper {
        margin-left: 5px;
    }
    .news-title {
        font-size: 18px;
    }
    .news-block {
        width: 237px;
        height: 113px;
    }
}
@media screen and (max-width: 1080px) {
    .news-wrapper {
        margin-left: 5px;
    }
    .news-title {
        font-size: 18px;
    }
    .news-block {
        width: 237px;
        height: 113px;
        border-radius: 15px;
    }
}